<!DOCTYPE html>
<html>
  <head>
    <title>Receitas da Lilly Brito</title>
    <%= favicon_link_tag 'favicon.ico'%>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <body>

        <h1 class="title">Livro de receitas da Lilly Brito</h1>

        <%= yield %>

        </body>
      </div>
    </div>
  </div>
</html>
